@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
:root {
  height: 100%;
  background-color: var(--bgColor);
}

:root {
  --foreground-rgb: 0, 154, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 154, 255, 255;
  --primary: #f7f3ce;
  --secondary: #7fb4ba;
  --bgInput: #fff;
  --tertiary: #04b0c4;
  --black: #000000;
  --white: #ffffff;
  --oldPrimary: #1c6ca7;
  --gold: #ffd700;
  --silver: #c0c0c0;
  --bronze: #bf8970;
  --grey: #808080;
  --lightblue: #ccdfef;
  --darkblue: #003d7e;
  --txt: #1e1e1e;
  --bgColor: #ffedea;
  --danger: #dc3545;
  --ligtDanger: #e3342f;
  --accent-color: #45abff;
  --table-zebra: #f2f2f2;
}